body {
      font-family: Arial, Helvetica, sans-serif;
      background-color: #f0efef;
      margin: 0;
      padding: 0;
    }

    .container {
      display: flex;
      justify-content: center;
      gap: 20px;
      padding: 20px;
    }

    .card {
      background: white;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
      width: 500px;
    }

    canvas {
      width: 100% !important;
      height: 300px !important;
    }

    h3{
        color: #2290ff;
    }